build/
sysroot/
env/
*.bin
*.img
*.o
scripts/crosscompiler/binutils*
scripts/crosscompiler/gcc*
scripts/crosscompiler/hosted/
.vs/
.cache/
.clangd
toolchain/gcc/
toolchain/binutils-gdb/
toolchain/*-build/
.nvim/
